.container{
    width: 55%;
    height: auto;
    margin: 100px auto;
    padding: 100px;
    background: linear-gradient(#B326CA 14.98%, #4200FF 103.58%);
    color: #000;
    border: 2px solid #C2D6FF;
    border-radius: 70px 0;
    }

    i{
        color: #fff;
    padding: 0px 18px;
    margin-top: 20%;
    margin: 20px;
    /* size: 20px; */
    /* margin-top: 24%; */
    line-height: 2.5em;
    transition: .2s;
    padding: 10px;
    }
 i:hover{
        transform: scale(1.3); 
        color: #000000 ;
        
    }
    @media(max-width: 768px){
    .container{
        width: 100%;
    height: 40%;
    margin: 100px auto;
    padding: 44px;
    }
}